.restaurant-menu-item {
  display: flex;
  height: auto;
  font-size: 3vw;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}
.image-min {
  width: 15%;
  font-size: 50%;
}
.price {
  font-size: 80%;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}
.item-description {
  font-size: 50%;
}
